body {
    background-color: darksalmon;
}
.content {
    display: flex;
    justify-content: space-around;
}

.fill {
    background-image: url("http://source.unsplash.com/random/150x150");
    height: 150px;
    width: 150px;
    cursor: pointer;
}

.empty {
    height: 150px;
    width: 150px;
    background-color: white;
    border: 3px darksalmon;
}

.hold {
    border: solid #CCC 4px;
}

.hovered {
    background: #F4F4F4;
    border-style: dashed;
}

.invisible {
    display: none;
}